CalculadoraWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime
(https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0
git-revision#129f787. --><!-- Generated by XML-WS Runtime
(https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0
git-revision#129f787. -->
<definitions
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.paulsaltos.com/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://ws.paulsaltos.com/" name="CalculadoraWebServiceImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.paulsaltos.com/"
                schemaLocation="https://ws.paulsaltos.com/calculadora/CalculadoraWS?xsd=1" />
        </xsd:schema>
    </types>
    <message name="sumar">
        <part name="parameters" element="tns:sumar" />
    </message>
    <message name="sumarResponse">
        <part name="parameters" element="tns:sumarResponse" />
    </message>
    <message name="restar">
        <part name="parameters" element="tns:restar" />
    </message>
    <message name="restarResponse">
        <part name="parameters" element="tns:restarResponse" />
    </message>
    <message name="multiplicar">
        <part name="parameters" element="tns:multiplicar" />
    </message>
    <message name="multiplicarResponse">
        <part name="parameters" element="tns:multiplicarResponse" />
    </message>
    <message name="dividir">
        <part name="parameters" element="tns:dividir" />
    </message>
    <message name="dividirResponse">
        <part name="parameters" element="tns:dividirResponse" />
    </message>
    <portType name="CalculadoraWebServiceImpl">
        <operation name="sumar">
            <input wsam:Action="http://ws.paulsaltos.com/CalculadoraWebServiceImpl/sumarRequest"
                message="tns:sumar" />
            <output wsam:Action="http://ws.paulsaltos.com/CalculadoraWebServiceImpl/sumarResponse"
                message="tns:sumarResponse" />
        </operation>
        <operation name="restar">
            <input wsam:Action="http://ws.paulsaltos.com/CalculadoraWebServiceImpl/restarRequest"
                message="tns:restar" />
            <output wsam:Action="http://ws.paulsaltos.com/CalculadoraWebServiceImpl/restarResponse"
                message="tns:restarResponse" />
        </operation>
        <operation name="multiplicar">
            <input
                wsam:Action="http://ws.paulsaltos.com/CalculadoraWebServiceImpl/multiplicarRequest"
                message="tns:multiplicar" />
            <output
                wsam:Action="http://ws.paulsaltos.com/CalculadoraWebServiceImpl/multiplicarResponse"
                message="tns:multiplicarResponse" />
        </operation>
        <operation name="dividir">
            <input wsam:Action="http://ws.paulsaltos.com/CalculadoraWebServiceImpl/dividirRequest"
                message="tns:dividir" />
            <output wsam:Action="http://ws.paulsaltos.com/CalculadoraWebServiceImpl/dividirResponse"
                message="tns:dividirResponse" />
        </operation>
    </portType>
    <binding name="CalculadoraWebServiceImplPortBinding" type="tns:CalculadoraWebServiceImpl">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="sumar">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="restar">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="multiplicar">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="dividir">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="CalculadoraWebServiceImplService">
        <port name="CalculadoraWebServiceImplPort"
            binding="tns:CalculadoraWebServiceImplPortBinding">
            <soap:address location="https://ws.paulsaltos.com/calculadora/CalculadoraWS" />
        </port>
    </service>
</definitions>